In [ ]:
# exp.2(python programming)
#pranjal negi 
#sap id.590025507
#submitted to:mr vibhu gautam

In [2]:
# 1. Declare x, y, z as integers. Perform operations.
x = 5584
y = 88
z = 94

print("Addition:", x + y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Subtraction:", x - y)

Addition: 5672
Multiplication: 491392
Division: 63.45454545454545
Subtraction: 5496

In [3]:
# 2. Radius as input to compute area of circle
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle:", area)

Area of circle: 619007.04

In [4]:
# 3,4,5. Solve (x+y)*(x+y)
x = 4
y = 3
result = (x + y) * (x + y)
print("Result:", result)   # Expected Output: 49

Result: 49

In [5]:
# 6. Length of hypotenuse using Pythagoras theorem
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = (a**2 + b**2) ** 0.5
print("Hypotenuse:", c)

Hypotenuse: 39.66106403010388

In [6]:
# 7. Simple Interest
p = float(input("Enter principal: "))
t = float(input("Enter time: "))
r = float(input("Enter rate: "))
si = (p * t * r) / 100
print("Simple Interest:", si)

Simple Interest: 2776.1

In [7]:
# 8. Area of triangle when sides are given (Heron's formula)
a = float(input("Enter side 1: "))
b = float(input("Enter side 2: "))
c = float(input("Enter side 3: "))
s = (a + b + c) / 2
area = (s * (s - a) * (s - b) * (s - c)) ** 0.5
print("Area of triangle:", area)

Area of triangle: (8.534958675839518e-13+13938.645300476657j)

In [8]:
# 9. Convert seconds into hours, minutes and seconds
seconds = int(input("Enter seconds: "))
hours = seconds // 3600
minutes = (seconds % 3600) // 60
remaining_seconds = seconds % 60
print("Hours:", hours)
print("Minutes:", minutes)
print("Seconds:", remaining_seconds)

Hours: 0
Minutes: 0
Seconds: 34

In [9]:
# 10. Swap two numbers without additional variable
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
a, b = b, a
print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 253
b = 343

In [10]:
# 11. Sum of first n natural numbers
n = int(input("Enter value of n: "))
sum_n = n * (n + 1) // 2
print("Sum of first", n, "natural numbers:", sum_n)

Sum of first 34 natural numbers: 595

In [11]:
# 12. Truth table for bitwise operators (&, |, ^)
print("A B  A&B  A|B  A^B")
for A in [0, 1]:
    for B in [0, 1]:
        print(A, B, " ", A & B, "   ", A | B, "   ", A ^ B)

A B  A&B  A|B  A^B
0 0   0     0     0
0 1   0     1     1
1 0   0     1     1
1 1   1     1     0

In [12]:
# 13. Left shift and right shift
num = int(input("Enter number: "))
shift = int(input("Enter shift value: "))
print("Left Shift:", num << shift)
print("Right Shift:", num >> shift)

Left Shift: 6425450609882250693223059147940184051364191440934133863193217797797668419660206064786715823659121463458749347462426083122746180767734778608569290480483693494272
Right Shift: 0

In [13]:

# 14. Membership operator (number in sequence)
num = int(input("Enter number to check: "))
sequence = (10, 20, 56, 78, 89)
print("Is number in sequence?", num in sequence)

Is number in sequence? False

In [14]:
# 15. Membership operator (character in string)
ch = input("Enter character: ")
string = input("Enter string: ")
print("Is character in string?", ch in string)

Is character in string? True