In [ ]:
# exp.1(python programming)
#pranjal negi 
#sap id.590025507
#submitted to:mr vibhu gautam

In [24]:
#ques no.2 	Write Python programs to print strings in the given manner: 

# 2(a)
print("Hello Everyone !!!")

# 2(b)
print("Hello")
print("World")

# 2(c)
print("Hello")
print("      World")

# 2(d)
print("'Rohit's date of birth is 12\\05\\1999'")

Hello Everyone !!!
Hello
World
Hello
      World
'Rohit's date of birth is 12\05\1999'

In [25]:
# 3. Declare a string variable called x and assign it the value “Hello”.
#    Print out the value of x
x = "Hello"
print(x)

Hello

In [26]:
# 4. Take different data types and print values using print function.
a = 10          # Integer
b = 10.5        # Float
c = "Python"    # String
d = True        # Boolean

print(a)
print(b)
print(c)
print(d)

10
10.5
Python
True

In [29]:
# 5. Take two variables, a and b. Assign your first name and last name.
#    Print your Name after adding your First name and Last name together.
a = "Pranjal"
b = "negi"
print(a + " " + b)

Pranjal negi

In [30]:
# 6. Declare three variables, consisting of your first name, your last name and Nickname.
#    Print: FirstName (Nickname) LastName
first = "Pranjal"
nickname = "Pnnegi"
last = "negi"

print(first + " (" + nickname + ") " + last)

Pranjal (Pnnegi) negi

In [31]:
# 7. Declare and assign values to suitable variables and print in the following way:
# NAME: pranjal negi
# SAP ID: 500025507
# DATE OF BIRTH: 13 june 2006
# ADDRESS: UPES
#          Bidholi Campus
#          Pincode: 248007
# Programme: bca
# Semester: 2

name = "pranjal negi"
sap_id = 500025507
dob = "13 june 2006"
address1 = "UPES"
address2 = "Bidholi Campus"
pincode = 248007
programme = "bca"
semester = 2

print("NAME:", name)
print("SAP ID:", sap_id)
print("DATE OF BIRTH:", dob)
print("ADDRESS:", address1)
print("        ", address2)
print("        Pincode:", pincode)
print("Programme:", programme)
print("Semester:", semester)

NAME: pranjal negi
SAP ID: 500025507
DATE OF BIRTH: 13 june 2006
ADDRESS: UPES
         Bidholi Campus
        Pincode: 248007
Programme: bca
Semester: 2